<div class="text-green-light font-bold uppercase justify-end main-nav flex items-center">
    {{ content }}
    <a class="uppercase text-cream bg-green-light ap-signup py-2 px-4 rounded-md" href="#">Sign up</a>
</div>
